*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

main {
    font-family: 'Montserrat', sans-serif;
    background: hsl(30, 38%, 92%);
}

.container {
    min-height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    max-height: 500px;
    align-items: center;
    max-width: 700px;
}

.card-content {
    background: hsl(0, 0%, 100%);
    padding: 2rem 3rem;
    height: 500px;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    max-width: 370px;
}

.card-image img {
    max-height: 500px;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.large-name {
    font-family: 'Fraunces', serif;
    font-size: 2.2rem;
    line-height: 1;
    margin-bottom: 2rem;
    padding-right: 2.5rem;
}

.card-description {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.small-description {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
}

.row-numbers {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}


.large-number-green {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    margin-right: 1.5rem;
}

.cancelled-number {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}

.button-with-icon {
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    width: 100%;
    background: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-with-icon::before {
    content: url("images/icon-cart.svg");
    padding-right: 1rem;
}

@media screen and (max-width: 730px) {
    .container {
        align-items: flex-start;
        height: 100%;
    }

    .card {
        max-width: none;
        flex-direction: column;
        width: 100%;
        margin: 3rem 1rem;
    }

    .card-content {
        border-bottom-left-radius: 0.7rem;
        border-top-right-radius: 0;
        width: 100%;
        max-width: unset;
        height: unset;
    }

    .card-image img {
        content: url("images/image-product-mobile.jpg");
        max-height: unset;
        width: 100%;
        border-top-right-radius: 0.7rem;
        border-bottom-left-radius: 0;
        height: 100%;
    }
}